version: "3.8"

services:
  selfcare-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: selfcare-api
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=jdbc:postgresql://dpg-xxx.render.com:5432/selfcare_app?sslmode=require
      - DATABASE_USERNAME=root
      - DATABASE_PASSWORD=your_db_password
      - REDIS_HOST=singapore-keyvalue.render.com
      - REDIS_PORT=6379
      - REDIS_USERNAME=your_redis_username
      - REDIS_PASSWORD=your_redis_password
      - JWT_SIGNER_KEY=your_jwt_secret_key
      - MAIL_USERNAME=your_email@gmail.com
      - MAIL_PASSWORD=your_app_password
      - CLOUDINARY_CLOUD_NAME=your_cloud_name
      - CLOUDINARY_API_KEY=your_api_key
      - CLOUDINARY_API_SECRET=your_api_secret
      - GEMINI_API_KEY=your_gemini_key
    restart: unless-stopped
